.intro-text {
    margin: 25px 0 15px 0;
    font-size: .8em;
}

.about-company {
    margin: auto;
    margin-left: 10%;
    margin-right: 10%;
    grid-template-areas: 'name' 'products' 'info';
    left: 50%;
    right: 50%;
}

.about-company-header {
    margin-top: 60px;
    font-weight: bold;
}

.about-company-products {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.company-product {
    width: 32%;
    height: 370px;
    border: 1px solid rgb(206, 206, 206);
    box-sizing: border-box;
    padding: 0 20px 20px 20px;
    display: flex;
    flex-wrap: wrap;
    transition-property: all;
    transition-duration: .4s;
    background-color: white;
    cursor: pointer;
}

.company-product:hover {
    transform: scale(1.15);
}

.intro-text {
    margin: 25px 0 15px 0;
    font-size: .8em;
}

.company-product__img {
    width: 100%;
    height: 190px;
    margin: auto;
}

.company-product__name {
    font-size: .8em;
    margin: 15px 0;
    width: 100%;
}

.company-product__price {
    align-self: flex-end;
    font-size: .6em;
}

.about-company-info {
    width: 100%;
    font-size: .7em;
}