<main class="general-layout">
    <app-header></app-header>
    <td>
        <hr>
    </td>
    <div class="container">
        <div class="navbar-content-container">
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="cont">
                    <app-content></app-content>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="adm">
                    <app-admin></app-admin>
                </div>
            </div>
        </div>
    </div>
    <td>
        <hr>
    </td>
    <app-footer></app-footer>
</main>