<div class="pay_header">
    Сформируйте платёжку и загрузите её для подписи
</div>
<form [formGroup]="requestFieldForm" novalidate (ngSubmit)="submit()">
    <div class="form-group">
        <label>ИНН получателя</label>
        <input type="text" class="form-control" name=sender formControlName="sender" placeholder="ИНН или название получателя">
    </div>
    <div class="form-group">
        <label>БИК</label>
        <input type="text" class="form-control" name=bik formControlName="bik" placeholder="9 цифр">
    </div>
    <div class="form-group">
        <label>Номер счёта</label>
        <input type="text" class="form-control" name=cardNumber formControlName="cardNumber" placeholder="20 цифр">
    </div>
    <div class="form-group">
        <label>За что</label>
        <div>
            <div class="chose_nds__text">{{ NDS }}</div>
            <div class="chose_nds">
                <button type="button" (click)="getNDS('НДС 18%')">НДС 18%</button>
                <button type="button" (click)="getNDS('НДС 10%')">НДС 10%</button>
                <button type="button" (click)="getNDS('без НДС')">без НДС</button>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label>Сколько</label>
        <input type="text" class="form-control" name=money formControlName="money" placeholder="от 1000 до 75000">
    </div>
    <div class="form-group">
        <label>Номер телефона</label>
        <input type="text" class="form-control" name=phone formControlName="phone" value="+7">
    </div>
    <div class="form-group">
        <button type="submit" class="button" [disabled]="requestFieldForm.invalid">
            <span class="button__text">Создать платёж</span>
        </button>
        <img src="https://tochka.com/theme/main/img/pay/tochka-pay.png" class="button_img" width="200px" height="60px">
    </div>

</form>