.navbar-right {
    margin-right: 10%
}

.general-layout {
    box-sizing: border-box;
    box-shadow: 1px 0 20px 0 rgba(0, 0, 0, .3), -1px 0 20px 0 rgba(0, 0, 0, .3);
}

.layout {
    padding: 20px 45px 30px;
    display: flex;
    flex-flow: row wrap;
}

@media screen and (min-width: 1200px) {
    .general-layout {
        width: 80%;
        margin: auto;
    }
}

@media screen and (min-width: 1100px) and (max-width: 1199px) {
    .general-layout {
        width: 1100px;
        margin: auto;
    }
}

@media screen and (min-width: 1px) and (max-width: 1099px) {
    .general-layout {
        width: 100%;
    }
}