<main class="general-layout">
    <app-header></app-header>
    <td>
        <hr>
    </td>
    <div class="container">
        <nav class="nav navbar-default">
            <ul class="nav navbar-nav navbar-right">
                <li><input type="login" class="form-control" [(ngModel)]='login' placeholder="admin's login"></li>
                <li><input type="password" placeholder="admin's password" [(ngModel)]='passw' class="form-control" placeholder="password"></li>
            </ul>
            <ul class="nav nav-pills navbar-link">
                <li role="presentation"><a href="#cont" aria-controls="cont" role="tab" data-toggle="tab">Контент</a></li>
                <li role="presentation"><a [href]="checklogin() ? '#adm' : '#'" (click)="click_cards()" aria-controls="adm" role="tab" data-toggle="tab">Админ</a></li>
            </ul>
        </nav>
    </div>
    <div class="container">
        <div class="navbar-content-container">
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="cont">
                    <app-content></app-content>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="adm">
                    <app-admin></app-admin>
                </div>
            </div>
        </div>
    </div>
    <td>
        <hr>
    </td>
    <app-footer></app-footer>
</main>