<div class="creditCardForm">
    <div class="heading">
        <h1>Confirm Purchase</h1>
    </div>
    <div class="payment">
        <form>
            <div class="form-group cvv">
                <label for="cvv">CVV</label>
                <input type="number" class="form-control" id="cvv" placeholder="3 цифры" reqiured [(ngModel)]="cvvNumber" [ngModelOptions]={standalone:true}>
            </div>
            <div class="form-group cardNumber">
                <label for="cardNumber">Card Number</label>
                <input type="number" class="form-control" id="cardNumber" placeholder="16 цифр" required [(ngModel)]="card" [ngModelOptions]={standalone:true}>
            </div>
            <div class="form-group summary">
                <label for="summary">Sum to send</label>
                <input type="number" class="form-control" id="summary" placeholder="От 1000 до 75000" required [(ngModel)]="summary" [ngModelOptions]={standalone:true}>
            </div>
            <div class="form-group comment">
                <label for="comment">Commentary</label>
                <input type="text" maxlength="150" class="form-control" id="comment" placeholder="До 150 символов" required [(ngModel)]="comment" [ngModelOptions]={standalone:true}>
            </div>
            <div class="form-group email">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Для квитанций об оплате" required [(ngModel)]="email" [ngModelOptions]={standalone:true}>
            </div>
            <div class="form-group date">
                <label for="date">Date</label>
                <input type="month" class="form-control" value="2018-12-31" id="date" required [(ngModel)]="date" [ngModelOptions]={standalone:true}>
            </div>
            <div class="form-group" id="credit_cards">
                <img src="assets/images/visa.jpg" id="visa">
                <img src="assets/images/mastercard.jpg" id="mastercard">
                <img src="assets/images/amex.jpg" id="amex">
            </div>
            <div class="form-group" id="pay-now">
                <button type="submit" class="btn btn-default disabled" id="confirm-purchase">Confirm</button>
            </div>
        </form>
    </div>
</div>


<!-- <form>
    <div class="form-group">
        <label for="exampleInputEmail1">Номер карты</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

Номер карты
мм.гг
свс
сумма
комментарий
электронная почта
кнопка заплатить

из банка:
от кого (инн или название плательщика)
бик
номер счета 
за что (три подкнопки: ндс 18%, 10%, без НДС)
сколько
кнопка получить файл для интернет-банка
очистить форму

запросить платёж:
инн получателя
бик 
номер счета
за что
сколько
номер телефона
эл почта
создать платеж
очистить форму -->