<div class="container">
    <ul class="nav nav-pills navbaritem" role="tablist">
        <li role="presentation"><a href="#pay" aria-controls="pay" role="tab" data-toggle="tab">Заплатить</a></li>
        <li role="presentation"><a href="#req" aria-controls="req" role="tab" data-toggle="tab">Запросить платёж</a></li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="pay">
            <app-payment></app-payment>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="req">
            <app-payment-request></app-payment-request>
        </div>
    </div>
</div>